@tailwind base;
@tailwind components;
@tailwind utilities;


* {
	box-sizing: border-box;
}
:root {
	--color-grey: rgb(252, 252, 252);
  --color-primary: #0C356A;
  --color-secondary: #0174BE;  
}


body {
  
}

:root {
  --color: #111827;
  --color-shade-1: #d1d5db;
  --brand-color: #111827;
  --background-color: #ffffff;
  --headline1-font-size: 29px;
  --headline2-font-size: 16px;
  --headline1-margin: 10px 40px;
  --border-radius: 6px;
  --font-size: 14px;
  --item-height: 36px;
  --link-color: #1c73e8;
  --divider-padding: 0 15px;
}

hanko-auth {
  --container-max-width: 640px;
  --container-padding: 40px;
}

hanko-profile {
  --container-max-width: 550px;
  --container-padding: 30px;
}

hanko-auth::part(container),
hanko-profile::part(container) {
  border: solid 1px #d8dee3;
  border-radius: 6px;
}

hanko-auth::part(headline1),
hanko-profile::part(headline1),
hanko-auth::part(headline2),
hanko-profile::part(headline2) {
  color: #1f2328;
  line-height: 36px;
  /*font-family: Cal Sans;*/
}

hanko-auth::part(form-item) {
  min-width: 100%;
}

hanko-auth::part(input),
hanko-profile::part(input) {
  background-color: #ffffff;
  margin-bottom: 12px;
}

hanko-auth::part(secondary-button) {
  border-color: var(--color-shade-1);
}

hanko-auth::part(divider) {
  margin: 24px 0;
}


.hanko_container {
  max-width: 640px !important;
}
.hanko_headline {
  text-align: center !important;
}
.hanko_headline.hanko_grade1 {
  font-size: 1.6em !important;
}
.hanko_content {
  width: 310px !important;
}
.hanko_form .hanko_ul {
    display: block !important;
}

.hanko_input{
  /*display: none;*/
  border: 1px solid #ccc !important;
  padding: 1.4em 0.8em !important;
  font-size: 1rem !important;
  width: 100%;
  border-radius: 4px !important;
  transition: border-color 0.2s, box-shadow 0.2s;
  display: block;
  line-height: 2 !important;
}

.hanko_input:focus {
  border-color: #007bff !important;
  border: 1.2px solid #6c4343 !important;
  outline: none;
  box-shadow: 0 0 0 3.5px #fddf97; /* Simulate the Bootstrap-like outline */
}


.hanko_primary {
  margin-top: 1em !important;
  border-radius: 4px !important;
  border: none !important;
  height: fit-content !important;
  padding: 0.8em 0.8em !important;
  background: black !important;
}
.hanko_primary:hover {
  background: rgb(14, 14, 14) !important;
}

.hanko_secondary {
  border-color: #ccc !important;
  height: fit-content !important;
  border-radius: 4px !important;
}

.hanko_loadingSpinnerWrapperIcon {
  padding: 0.5em 0.8em !important;
}
.hanko_link {
  color: black !important;
  font-size: 0.86em !important;
}

header {
  background-color: rgb(254, 254, 254);
  border-bottom: 1.2px solid #ccc;

}

.input-grp {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.input-grp > button {
  background: var(--color-secondary);
}

.main-grp {
  display: flex;
  flex-wrap: nowrap;
  /*background-color: #6c4343;*/
}

.chat-grp {
  width: 100%;
  /*background-color: #fddf97;*/
}

aside {
  width: 16em;
  /*background-color: rgb(250, 250, 250);*/
  background-color: var(--color-primary);
  /*border-right: 1.5px solid #ccc;*/
}

.mobile {
  display: none;
}


/* Track (the background of the scrollbar) */
::-webkit-scrollbar {
  padding-top: 0.2em;
  width: 8px; /* Width of the scrollbar */
}

/* Thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: rgb(200, 200, 200); /* Color of the thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

/* Track when the mouse is hovering over it */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Button (the arrows or buttons at the ends of the scrollbar) */
::-webkit-scrollbar-button {
  display: none; /* Hide the scrollbar buttons */
}

/* Track when the scrollbar is in its "decrement" state */
::-webkit-scrollbar-track-piece:start {
  background: transparent; /* Color at the beginning of the scrollbar track */
}

/* Track when the scrollbar is in its "increment" state */
::-webkit-scrollbar-track-piece:end {
  background: transparent; /* Color at the end of the scrollbar track */
}

.user, .ai {
    font-family: 'Jost';
    width: 80%;
    display: grid;
    grid-template-columns: 30px auto;
    gap: 1em;
    padding-top: 1.4em;
    padding-bottom: 1.4em;
    padding-left: 1.8em;
    padding-right: 1.8em;
    height: fit-content;
    
}

.user > p, .ai > p {
    /*font-family: 'Jost';*/
    font-size: 1em;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    height: fit-content;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.ai {
    background-color: rgb(251, 251, 251);
}


.user-icon, .ai-icon {
    /*font-size: 0.8em;*/
    display: grid;
    place-items: center;
    margin: 0 0 auto 0;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: white;
    background-color: rgb(201, 111, 0);
}

.ai-icon {
    background-color: rgb(107, 0, 107);
}

.example-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    place-items: center;
}

.example-group > div {
    /*font-size: 'Jost';|*/
    display: grid;
    place-items: center;
    font-weight: 500;
    padding: 0.8em 1.2em;
    height: 100%;
    background-color: rgb(253, 253, 253);
    color: rgb(70, 70, 70);
    width: 100%;
    border-radius: 8px;
    text-align: center;
    border: 1px solid rgb(220, 220, 220);
    cursor: pointer;
    /*box-shadow: rgba(23, 23, 23, 0.09)4px 3px 12px;*/
}

.example-group > div:hover {
    box-shadow: rgba(23, 23, 23, 0.09)4px 3px 12px;
    border: 1px solid #FFC436;
}

.heading {
    font-size: 2.2em;
}

.profile-circle {
  color: white;
  border: 1.5px solid white
}

.new-chat-button {
  border: 2px solid rgba(250, 250, 250, 0.5);
  color: rgba(250, 250, 250, 0.5);
  border-radius: 5px;
}
.new-chat-button:hover{
  color: white;
  background-color: rgba(180, 180, 180, 0.1);
}
.icon {
  margin-top: auto;
  margin-bottom: auto;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.profile:hover {
  cursor: pointer;
  border-radius: 0.7em;
  background-color: rgba(180, 180, 180, 0.1);
}

.dialogue {
  background-color: rgba(10, 10, 10, 0.6);
  border-radius: 15px;
}

.dialogue > div > p {
  font-size: 0.9em;
  cursor: pointer;
}
.dialogue > div:first-child:hover {
  border-radius: 15px 15px 0 0;
}
.dialogue > div:last-child:hover {
  border-radius: 0 0 15px 15px;
}

.dialogue > div:hover {
  background-color: #353535;
  box-shadow: rgba(23, 23, 23, 0.09)4px 3px 12px;
  cursor: pointer;
}

.btn {
  display: grid;
  place-items: center;
  height: fit-content;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 6px;
} 

.btn-primary {
  background: #ED2B2A !important;
  color: white !important;
  width: 100% !important;
  font-weight: 600 !important;
}

.btn-outline {
  color: black;
  border: 1px solid rgb(140, 140, 140);
  width: 100%;
}

.menu-btn {
  padding: 0.05em 0.2em;
  cursor: pointer;
  border-radius: 4px;
  height: 34px;
  width: 34px;
}

@media only screen and (max-width: 800px) {
  .example-group {
        padding: 1em 1.2em;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }
    .example-group > div {
        height: fit-content;
    }
}

@media only screen and (max-width: 680px) {
  .hanko_container {
    box-sizing: border-box !important;
    padding: 1em !important;
    max-width: 100vw !important;
  }
  .hanko_content {
    width: 80vw !important;
  }
  .main-grp {
    display: block;
    width: 100%;
  }
  .chat-grp {
    height: inherit;
    overflow-y: scroll;
  }
  .mobile {
    display: block;
  }
  .input-grp, header {
    width: 100%;
    left: 0;
    right: 0;
  }
  .input-grp {
    background-color: rgb(253, 253, 253);
    border-top: 1.2px solid #ccc;
    padding-left: 0.6em;
    padding-right: 0.6em;
    padding-top: 1.2em;
  }
  .user, .ai {
    width: 100%;
    padding-left: 1em;
    padding-right: 0.8em;
  }
  .modal-card {
    max-width: 85vw;
  }

      .sidebar {
          top: 0;
          left: -280px; /* Start with the sidebar hidden */
          width: 280px;
          height: 100%;
          z-index: 30;
          transition: left 0.3s ease;
        }

        .sidebar.open {
          left: 0; /* Slide in when 'open' class is present */
        }

}
